<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Juego de UNO</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div id="posicion">Posición del puntero: X: 0, Y: 0</div>
<h1>Juego de UNO</h1>

<div class="container" id="configuracionSala">
    <h2>Configuración de la Sala</h2>
    <label for="sala">Nombre de la Sala:</label>
    <input type="text" id="sala" placeholder="Ingrese el nombre">
    <button onclick="unirseSala()">Unirse</button>

    <h3>Estás en la sala: <span id="salaActual"></span></h3>
    <h3>Jugadores en la sala: <span id="jugadoresCount">0</span></h3>
</div>

<div class="container" id="partida" style="display:none;">
    <h2> <span id="turnoJugador"></span></h2>
    <div id="cartaInicial"></div>
    <button id="robarCarta">Robar Carta</button>
    <button id="pasarTurno">Pasar Turno</button>
    <h2 id="tusCartasTXT">Tus cartas:</h2>
    <div id="cartas"></div>
    <button onclick="salirSala()">Salir de la Sala</button>
    <h3><span id="hostJuego"></span></h3>

</div>

<div class="modal" id="modalColor" style="display: none;">
    <div class="modal-content">
        <h3>Elige un color</h3>
        <select id="colorSeleccionado">
            <option value="rojo">Rojo</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="verde">Verde</option>
        </select>
        <button id="confirmarColor">Confirmar</button>
    </div>
</div>


<div id="overlay" style="display: none;"></div>

 

<div class="container" id="botonComenzar" style="display:none;">
    <button id="comenzarBtn" onclick="comenzarJuego()">Comenzar Juego</button>
</div>





<script>
        var cartaSeleccionada = null;
        var socket = io.connect("http://127.0.0.1:5000");
        var id_jugador = localStorage.getItem("id_jugador") || Math.floor(Math.random() * 10000);
        localStorage.setItem("id_jugador", id_jugador);
        
        socket.on("error", function(data){
            alert(data.mensaje);
            console.error("error recibido: ", data.mensaje);
        });

        function unirseSala() {
            var sala = document.getElementById("sala").value;
            if (!sala) {
                alert("Debes ingresar una sala");
                return;
            }
            localStorage.setItem("sala", sala);
            document.getElementById("salaActual").innerText = sala;
            socket.emit("unirse_sala", { id: id_jugador, nombre: "Jugador " + id_jugador, sala: sala });
    
        }
        
       
        function salirSala() {
            var sala = localStorage.getItem("sala");
            if (sala) {
                socket.emit("salir_sala", { id: id_jugador, sala: sala });
            }
            localStorage.removeItem("colorElegido");
            localStorage.removeItem("sala");
            localStorage.removeItem("juegoActivo");
            localStorage.removeItem("turno");
            localStorage.removeItem("host");
            location.reload();
        }
       
        socket.on("estado_actual", function(data) {
            if (!data.juegoActivo) {
                localStorage.clear();  // Borra los datos si el juego ya no está activo
                return;
            }
        
            localStorage.setItem("juegoActivo", "true");
            localStorage.setItem("turno", data.turno);
            localStorage.setItem("host", data.host);
            localStorage.setItem("cartaInicial", JSON.stringify(data.carta_inicial));
        
            mostrarJuego();
            actualizarEstado();
            mostrarCartaInicial(data.carta_inicial);
        });
        
        
        window.onload = function() {
            var sala_guardada = localStorage.getItem("sala");
            var juegoActivo = localStorage.getItem("juegoActivo");
            var cartaRobada = localStorage.getItem("cartaRobada") === "true"; 
           
            if (localStorage.getItem("esperando_color") === "true") {
                socket.emit("solicitar_color", {
                    id: localStorage.getItem("id_jugador"),
                    sala: localStorage.getItem("sala")
                });
            }
            
        
        
            if (sala_guardada) {
                socket.emit("unirse_sala", { id: id_jugador, nombre: "Jugador " + id_jugador, sala: sala_guardada });
                socket.emit("obtener_estado", { sala: sala_guardada });
            }
        
            if (juegoActivo === "true") {
                mostrarJuego();
                actualizarEstado();
            }
            
            console.log("Turno al recargar:", localStorage.getItem("turno"));
            console.log("Carta robada al recargar:", localStorage.getItem("cartaRobada"));
        };
        
        
      

        socket.on("sala_unida", function(data) {
            localStorage.setItem("sala", data.sala);
            document.getElementById("salaActual").innerText = data.sala;
        });
        
        socket.on("cartas_repartidas", function(data) {
            var divCartas = document.getElementById("cartas");
            divCartas.innerHTML = "";
            var miMano = data.jugadores[id_jugador]?.mano || [];

            miMano.forEach(function(carta, index) {
                var cartaElemento = document.createElement("div");
                cartaElemento.classList.add("miCarta")
                
                //le guarda a cada div un id mas su posición
                cartaElemento.id = "carta" + index+1;
                var imgCarta = document.createElement("img");
                imgCarta.src = `/static/img/${carta.Color.toLowerCase()}_${carta.valor}.jpg`;
                imgCarta.alt = `${carta.Color} ${carta.valor}`;
                 
                // Asigna atributos data para poder recuperarlos después
                cartaElemento.dataset.color = carta.Color;
                cartaElemento.dataset.valor = carta.valor;
                cartaElemento.appendChild(imgCarta);
                
                cartaElemento.addEventListener("click", function(){
                    seleccionarCarta(cartaElemento);
                });
                
                
                //la guarda en el div donde van a ir el resto del mazo
                divCartas.appendChild(cartaElemento);
           
                ajustarPosicionCartas();
                actualizarEstado();
                
                
            });
        });
        
        socket.on("mostrar_comenzar", function(data) {
            document.getElementById("jugadoresCount").innerText = data.jugadores.length;
            if (data.host === id_jugador && data.jugadores.length > 1) {
                document.getElementById("botonComenzar").style.display = "block";
            }
        });
        
        function comenzarJuego() {
            socket.emit("comenzar_juego", { sala: localStorage.getItem("sala") });
            document.getElementById("botonComenzar").style.display = "none";
        }
        
        function mostrarCartaInicial(carta) {
            if (!carta) return; // Evita errores si no hay carta inicial
        
            let cartaElemento = document.getElementById("cartaInicial");
            cartaElemento.innerHTML = ""; // Limpiar antes de agregar la nueva carta
        
            let imgCarta = document.createElement("img");
            imgCarta.src = `/static/img/${carta.Color.toLowerCase()}_${carta.valor}.jpg`;
            imgCarta.alt = `${carta.Color} ${carta.valor}`;

            
            imgCarta.classList.add("cartaInicial");
            cartaElemento.appendChild(imgCarta);
           
           
        
        }
        

        function ajustarPosicionCartas() {
            const divCartas = document.getElementById("cartas");
            const cartas = divCartas.querySelectorAll('.miCarta');
            const totalCartas = cartas.length;
        
            // Cálculo del espacio dinámico entre las cartas
            const espacio = Math.max(150 - totalCartas * 10, 40);
    
        
            cartas.forEach((carta, index) => {
                // Calcula la posición para cada carta
                carta.style.left = `${index * espacio - 30}px`;
        
               
                });
            }
        
      
            socket.on("juego_comenzado", function(data) {
                console.log("Evento juego_comenzado recibido:", data);
            
                if (!data.carta_inicial) {
                    console.error("Error: No hay carta inicial en data.carta_inicial");
                    return;
                }
            
                localStorage.setItem("juegoActivo", "true");
                localStorage.setItem("turno", data.turno);
                localStorage.setItem("host", data.host);
                localStorage.setItem("cartaInicial", JSON.stringify(data.carta_inicial));
                localStorage.setItem("cartaRobada", "false");  // Asegurar que empieza sin carta robada
            
                mostrarJuego();
                actualizarEstado();
                mostrarCartaInicial(data.carta_inicial);
            
                //  Habilitar botón de robar carta si es el primer turno
                if (data.turno === localStorage.getItem("id_jugador")) {
                    document.getElementById("robarCarta").disabled = false;
                } else {
                    document.getElementById("robarCarta").disabled = true;
                }
            });
            
        
        
       
        function mostrarJuego() {
            document.getElementById("configuracionSala").style.display = "none";
            document.getElementById("partida").style.display = "block";
        
            // Si ya hay una carta inicial en el almacenamiento, mostrarla
            let cartaInicialGuardada = localStorage.getItem("cartaInicial");
            if (cartaInicialGuardada) {
                try {
                    mostrarCartaInicial(JSON.parse(cartaInicialGuardada));
                } catch (e) {
                    console.error("Error al parsear carta inicial:", e);
                }
            }
        }
       
        function seleccionarCarta(cartaElemento) {
            // Verificar si es el turno del jugador
            if (localStorage.getItem("turno") !== id_jugador.toString()) {
                alert("No es tu turno para jugar.");
                return; // No permitir seleccionar cartas si no es el turno del jugador
            }
        
            cartaSeleccionada = cartaElemento;
            let cartaInicialGuardada = localStorage.getItem("cartaInicial");
            
            if (cartaInicialGuardada) {
                mostrarCartaInicial(JSON.parse(cartaInicialGuardada));
            
            // Mostrar en consola la carta seleccionada
            console.log("Carta seleccionada:", cartaSeleccionada);
            
            // Intentar jugar la carta seleccionada
            jugarCarta();
            
            
        }
    }


        function animacionCartaCentro(cartaSeleccionada) {
            // Obtener la carta inicial y la carta seleccionada

            let cartaInicial =  document.querySelector(".cartaInicial");
            let posInicial = cartaInicial.getBoundingClientRect();  // Posición de la carta inicial
            let posCartaMover = cartaSeleccionada.getBoundingClientRect();  // Posición de la carta seleccionada
        
            // Calcular las diferencias en X y Y
            let deltaX = posInicial.left - posCartaMover.left;
            let deltaY = posInicial.top - posCartaMover.top;
        
            // Forzar el reflujo para asegurar que el estilo se renderiza antes de aplicar la animación
            cartaSeleccionada.offsetHeight;  // Forzamos un reflujo
            cartaSeleccionada.style.position = 'absolute';  // Necesitamos 'absolute' para que 'transform' funcione
            cartaSeleccionada.style.transition = "transform 0.5s ease-in-out";  // Definir la duración de la animación
            cartaSeleccionada.style.transform = `translate(${deltaX-10}px, ${deltaY-65}px)`;  // Retraso muy corto para permitir que el navegador procese el estilo antes de la animación
        }
         
            

            function jugarCarta() {
                const cartaInicial = JSON.parse(localStorage.getItem("cartaInicial"));
                
                if (cartaSeleccionada) {
                    const colorSeleccionado = cartaSeleccionada.dataset.color;
                    const valorSeleccionado = cartaSeleccionada.dataset.valor;
            
                    const colorInicial = cartaInicial.Color.toLowerCase();
                    const valorInicial = cartaInicial.valor;
            
                    if (colorSeleccionado === colorInicial || valorSeleccionado === valorInicial || colorSeleccionado == "negro") {
                        console.log("carta valida: " + colorSeleccionado + valorSeleccionado);
                        
                        // Llama a la función de animación
                        animacionCartaCentro(cartaSeleccionada);
                        
                        // Espera un tiempo antes de eliminar la carta
                        setTimeout(() => {
                            cartaSeleccionada.remove(); // Elimina la carta después de la animación
                            localStorage.setItem("cartaRobada", "false");
            
                            setTimeout(actualizarEstado, 500);
                            socket.emit("validarCarta", { color: colorSeleccionado, valor: valorSeleccionado, id: id_jugador, sala: localStorage.getItem("sala") });
                        }, 500); // Cambia este tiempo según la duración de la animación
                    } else {
                        console.log("Carta no válida");
                    }
                }
            }

            function actualizarEstado() {
                var turno = localStorage.getItem("turno");
                var host = localStorage.getItem("host");
                
            
                if (turno) {
                    document.getElementById("turnoJugador").innerText = `Es el turno de: Jugador ${turno}`;
                    
                    if (turno === id_jugador.toString()) {
                        document.getElementById("pasarTurno").style.display = "inline-block"; // Mostrar botón de pasar turno
                        
                        // Solo permitir robar si no ha robado aún en este turno
                        document.getElementById("robarCarta").style.display = "inline-block";
                       
                    } else {
                        document.getElementById("pasarTurno").style.display = "none"; // Ocultar el botón
                        document.getElementById("robarCarta").style.display = "none"; 
                    }
                }
            
                if (host) {
                    document.getElementById("hostJuego").innerText = `Host: Jugador ${host}`;
                }

            }
            
            socket.on("estado_actualizado", function(data) {
                let turnoAnterior = localStorage.getItem("turno");
                let nuevoTurno = data.turno;
            
                localStorage.setItem("cartaInicial", JSON.stringify(data.nueva_carta));
                localStorage.setItem("turno", nuevoTurno);
                mostrarCartaInicial(data.nueva_carta);
            
               
                if (nuevoTurno === localStorage.getItem("id_jugador")) {
                    
                    

                    if (localStorage.getItem("cartaRobada") === "true") {
                        document.getElementById("robarCarta").disabled = true;
                    } else {
                        document.getElementById("robarCarta").disabled = false;
                    }
                } else {
                    document.getElementById("robarCarta").disabled = true;
                }
                
            
                actualizarEstado();
            });
            
            
        
        socket.on("cartas_robadas", function(data) {
            if (data.id == localStorage.getItem("id_jugador")) {
                // Agregamos la carta visualmente
                const carta = data.carta_robada;
                const divCartas = document.getElementById("cartas");
                const cartaElemento = document.createElement("div");
                cartaElemento.classList.add("miCarta");
                
                let imgCarta = document.createElement("img");
                imgCarta.src = `/static/img/${carta.Color.toLowerCase()}_${carta.valor}.jpg`;
                imgCarta.alt = `${carta.Color} ${carta.valor}`;
            
                cartaElemento.dataset.color = carta.Color;
                cartaElemento.dataset.valor = carta.valor;
                cartaElemento.appendChild(imgCarta);
                
                //la guarda en el div donde van a ir el resto del mazo
                divCartas.appendChild(cartaElemento);
                cartaElemento.addEventListener("click", function(){
                    seleccionarCarta(cartaElemento);
                });
                localStorage.setItem("cartaRobada", "true"); // Actualizar el estado de cartaRobada
                document.getElementById("robarCarta").disabled = true; // Deshabilitar el botón de robar carta
                ajustarPosicionCartas();
                actualizarEstado();
                console.log("cartasrobdas: "+ localStorage.getItem("cartaRobada"));
            }
        });

      

        socket.on("elegir_color", function(data) {
            localStorage.setItem("esperando_color", "true");
            document.getElementById("overlay").style.display = "block";
            document.getElementById("modalColor").style.display = "block";
        
            deshabilitarInteracciones(true);
        
            // Si en 10 segundos no elige, asignar color aleatorio
            var timer = setTimeout(() => {
                const colorAleatorio = ["rojo", "azul", "amarillo", "verde"][Math.floor(Math.random() * 4)];
                
                socket.emit("color_elegido", {
                    id: localStorage.getItem("id_jugador"),
                    sala: localStorage.getItem("sala"),
                    color: colorAleatorio
                });
        
                cerrarModalColor(colorAleatorio);
            }, 10000);
        
            document.querySelector("#modalColor button").onclick = function() {
                const colorSeleccionado = document.getElementById("colorSeleccionado").value;
                clearTimeout(timer); 
        
                socket.emit("color_elegido", {
                    id: localStorage.getItem("id_jugador"),
                    sala: data.sala,
                    color: colorSeleccionado
                });
        
                cerrarModalColor(colorSeleccionado);
            };
        });
        
        function cerrarModalColor(color) {
            localStorage.setItem("color_elegido", color);
            localStorage.removeItem("esperando_color");
        
            document.getElementById("modalColor").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        
            deshabilitarInteracciones(false);
        }
        
        
        // Función que deshabilita todas las interacciones con la página
        function deshabilitarInteracciones(desactivar) {
            const elementosInteractivos = document.querySelectorAll(".carta, input");
            elementosInteractivos.forEach((elemento) => {
                if (desactivar) {
                    elemento.disabled = true;
                } else {
                    elemento.disabled = false;
                }
            });
        }
        

            //BOTONES-ENVIAR SERVIDOR FLASK//
            //////////////////////////////////////////////////////////////////////  
        

            document.getElementById("pasarTurno").addEventListener("click", function () {
                
                
                if (localStorage.getItem("cartaRobada") !== "true") {
                    alert("Debes robar una carta antes de pasar el turno.");
                    return;
                }
            
                const id_Jugador = localStorage.getItem("id_jugador");
                const sala = localStorage.getItem("sala");
            
                socket.emit("pasar_turno", { id: id_Jugador, sala: sala });
            
                
                localStorage.setItem("cartaRobada", "false");
            
                setTimeout(actualizarEstado, 500);
            });
            
            
            cartaRobada = false;
            document.getElementById("robarCarta").addEventListener("click",function() {
            
            if (localStorage.getItem("turno") !== localStorage.getItem("id_jugador")) {
                alert("No es tu turno para robar carta.");
                return; // No permitir robar si no es su turno
            }
            if (localStorage.getItem("cartaRobada") === "true") {
                alert("Ya has robado una carta este turno.");
                return; // No permitir robar más de una carta por turno
            }

            const id_jugador = localStorage.getItem("id_jugador");
            const sala = localStorage.getItem("sala");
            
            socket.emit("robar_carta", { id: id_jugador, sala: sala });
            cartaRobada = true;
            document.getElementById("robarCarta").disabled = true;

        });
        
       
        const posicionDiv = document.getElementById('posicion');

    // Agregamos el evento 'mousemove' al documento
    document.addEventListener('mousemove', function(event) {
        // Obtenemos las coordenadas X y Y del puntero
        const posX = event.clientX; // Coordenada X relativa a la ventana
        const posY = event.clientY; // Coordenada Y relativa a la ventana

        // Actualizamos el contenido del div con las coordenadas
        posicionDiv.textContent = `Posición del puntero: X: ${posX}, Y: ${posY}`;
    });
        
</script>
</body>
</html>
